<!-- About Us Section -->

<section class="about-us" id="about">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6 col-xs-12 no-padding">
                <!-- About Us Left -->
                <div class="about-us-left">
                    <!-- About Us Info -->
                    <h2 class="section-title-left">About our design</h2>
                    <p> Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod .</p>
                </div>
            </div>
            <div class="col-sm-6 col-xs-12 no-padding">
                <!-- About Us Right -->
                <div class="about-us-right">

                    <div class="media">
                        <div class="media-left dotted">
                            <i class="fa fa-lock"></i>
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">We Secure</h3>
                            <p>Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. </p>
                        </div>
                    </div>

                    <!--<div class="media">
                        <div class="media-left dotted">
                            <i class="fa fa-pencil-square-o"></i>
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">We Design</h3>
                            <p>Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. </p>
                        </div>
                    </div>-->

                    <div class="media">
                        <div class="media-left">
                            <i class="fa fa-eye-slash"></i>
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">We Protect</h3>
                            <p>Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- End Of About Us Section -->
