<ng-include src="templateUrl('navbar', 'resources/components/')"></ng-include>
<div class="cover hidden-sm hidden-xs">
    <div class="clearfix">
    </div>
</div>
<div class="col-md-8 col-md-offset-2" style="padding-top:50px">
    <div class="container">
        <!--<div class="row top-buffer">
            <div class="col-md-4">
                <h2>Heading</h2>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Heading</h2>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Heading</h2>
                <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
                <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
            </div>
        </div>-->
        <div class="row top-buffer" id="aboutUs">
            <div class="col-md-4">
                <img src="resources/img/harold.jpg" class="img-rounded hidden-sm hidden-xs" alt="Harold the CEO" width="90%" height="90%">
            </div>
            <div class="col-md-4">
                <h1>Harold Shuckstotter</h1>
                <h3>Founder and CEO of Shuckstotter Technologies</h3>
                <p>Born in 1954, Harold Shuckstotter started off his career as a lowly information technology assistant. After seeing the poor security practices of the organization he was working for, he created a new company - Shuckstotter Technologies - dedicated to making security a priority of not just the company's products, but the company itself. Shuckstotter Technologies has been very successful with Harold as our CEO, and hopefully with the debut of our flagship product H.A.R.O.L.D. (High Acuity Recursive Open-source Logging Daemon), our success will only continue to mount.</p>
            </div>
            <div class="col-md-4">
            </div>
        </div>



        <div class="row top-buffer" id="purchase">
            <div class="col-md-4 panel-purchase-side col-centered">
                <div class="panel panel-primary panel-purchase">
                    <div class="panel-heading text-center">
                        Free
                    </div>
                    <div class="panel-body text-center">
                        <table class="table table-striped table-hover">
                            <tbody>
                                <tr>
                                    <td><container class="col-xs-10">H.A.R.O.L.D. Server Monitor</container><i class="fa fa-check col-xs-2"></i></td>
                                </tr>
                                <tr>
                                    <td><container class="col-xs-10">Support via Wiki and Github</container><i class="fa fa-check col-xs-2"></td>
                                </tr>
                                <tr>
                                    <td><container class="col-xs-10">24/7 Phone Support</container><i class="fa fa-times col-xs-2"></td>
                                </tr>
                                <tr>
                                    <td><container class="col-xs-10">Cloud Hosting</container><i class="fa fa-times col-xs-2"></td>
                                </tr>
                                <tr>
                                    <td>Up to 10 Users</td>
                                </tr>
                            </tbody>
                        </table>
                        <button class="btn btn-primary panel-btn">$0</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-success panel-purchase">
                    <div class="panel-heading text-center">
                        Pro
                    </div>
                    <div class="panel-body text-center">
                        <table class="table table-striped table-hover ">
                            <tbody>
                                <tr>
                                    <td><container class="col-xs-10">H.A.R.O.L.D. Server Monitor</container><i class="fa fa-check col-xs-2"></i></td>
                                </tr>
                                <tr>
                                    <td><container class="col-xs-10">Support via Wiki and Github</container><i class="fa fa-check col-xs-2"></td>
                                </tr>
                                <tr>
                                    <td><container class="col-xs-10">24/7 Phone Support</container><i class="fa fa-check col-xs-2"></td>
                                </tr>
                                <tr>
                                    <td><container class="col-xs-10">Cloud Hosting</container><i class="fa fa-check col-xs-2"></td>
                                </tr>
                                <tr>
                                    <td>Up to 100 Users</td>
                                </tr>
                            </tbody>
                        </table>
                        <button class="btn btn-success panel-btn">$50</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4 panel-purchase-side">
                <div class="panel panel-primary panel-purchase">
                    <div class="panel-heading text-center">
                        Enterprise
                    </div>
                    <div class="panel-body text-center">
                        <table class="table table-striped table-hover ">
                            <tbody>
                                <tr>
                                    <td><container class="col-xs-10">H.A.R.O.L.D. Server Monitor</container><i class="fa fa-check col-xs-2"></i></td>
                                </tr>
                                <tr>
                                    <td><container class="col-xs-10">Support via Wiki and Github</container><i class="fa fa-check col-xs-2"></td>
                                </tr>
                                <tr>
                                    <td><container class="col-xs-10">24/7 Phone Support</container><i class="fa fa-check col-xs-2"></td>
                                </tr>
                                <tr>
                                    <td><container class="col-xs-10">Cloud Hosting</container><i class="fa fa-check col-xs-2"></td>
                                </tr>
                                <tr>
                                    <td>Unlimited Users</td>
                                </tr>
                            </tbody>
                        </table>
                        <button class="btn btn-primary panel-btn">$50/month</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
